
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
# build/
profiles/
# native
#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/