:host {
    display: flex;
    flex-direction: column;
}

#root {
    display: flex;
    flex-direction: column;
    overflow: scroll;     
}

.form {
    flex: 1;
    overflow: auto;
    padding: 10px;
}

.commands {
    text-align: center;
    padding: 10px 0;
    margin-top: 5px;
    background-color: var(--color-normal-fill-emphasis);
}

ui-section {
    width: 100%;
}

ui-prop {
    padding: 2px 0;
    --left-width: 30%;
}

ui-input {
    width: 100%;
    min-width: 100px;
    min-height: 30px;
    line-height: 30px;
}

.inline {
    display: inline-flex;
    width: 100%;
    flex-wrap: nowrap;
}

.inline ui-button {
    width: 40%;
}

.tip {
    margin-right: 2px;
    padding: 2px;
    border: 1px solid darkgray;
    border-radius: 1px;
    background-color: brown;
}